
* {
  margin: 0;
}

.popup {
  position: relative;
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(55, 49, 49, 1);
  overflow: hidden;
  
}

.popup.active {
  display: none;
}


button {
  position: absolute;
  margin-top: 15px;
  padding: 5px 10px;
  width: 200px;
  top: 140px;
  left: 50%;
  color: #fff;
  background-color: rgb(148, 62, 62);
  z-index: 9999;
  cursor: pointer;
  transform: translate(-50%, -50%);
  
}

input {
  position: absolute;
  width: 300px;
  padding:5px 10px;
  top: 100px;
  left: 50%;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.name {
  color: black;
  /* text-align: center; */
}

.active {
  display: none;
}

h1.popup-title{
  margin-top: 20px;
  color: white;
  text-align: center;
}
.header {
    margin-bottom: 20px;
    margin-top: 60px;
}
  ul {
    padding: 0;
  }
  
  ul > li {
    list-style: none;
  }
  
  h2 {
    font-weight: bold;
  }

  .zodiac{
      text-transform: capitalize;
      margin-left: 10px;
  }
  @media (max-width: 1024px) {
      img.img-responsive {
    width: 50px !important;
  }
}

@media (max-width: 550px) {
    img.img-responsive {
        width: 180px !important;
    }
p {
    font-size: 30px;
}
h4, .main-content {
    font-size: 22px;
}
.main-content{
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
}

.popup {
  height: 700vh;
}

}






  